<!DOCTYPE html>
<html lang="en">
    {% load static %}
   {% include "head.html" %}

<body>
    
    <!-- Navbar Section Starts -->
    {% include "navbar.html" %}
    <!-- Navbar Section Ends -->

    <!-- banner Section Starts -->
    <section class="banner text-center">
        <div class="container">
            
            <h2> Speech enhancement research</h2>

        </div>
    </section>
    <!-- banner Section Ends -->


    <section class="container">
        <div class="container">
            <h2 class="text-center">About Us</h2>
            <p class="detail">
                using the stimulus reconstruction method
                hfhbfgibesbgwiue
                audhbubefubweuvbwe
                hebfvuhewbfuybweuybv
                ehfvbhuefbvubwefuv
                fhbvhiwebfviubwe
                <br>  using the stimulus reconstruction method
                hfhbfgibesbgwiue
                audhbubefubweuvbwe
                hebfvuhewbfuybweuybv
                ehfvbhuefbvubwefuv
                fhbvhiwebfviubwe<br>  using the stimulus reconstruction method
                hfhbfgibesbgwiue
                audhbubefubweuvbwe
                hebfvuhewbfuybweuybv
                ehfvbhuefbvubwefuv
                fhbvhiwebfviubwe<br>  using the stimulus reconstruction method
                hfhbfgibesbgwiue
                audhbubefubweuvbwe
                hebfvuhewbfuybweuybv
                ehfvbhuefbvubwefuv
                fhbvhiwebwe<br>  using the stimulus reconstruction method
                hfhbfgibesbgwiue
                audhbubefubweuvbwe
                hebfvuhewbfuybweuybv
                ehfvbhuefbvubwefuv
                fhbvhiwebwe
            </p>
        </div>
    </section>

    <!-- related work Section Starts -->
    <section class="work">
        <div class="container">
            <h2 class="text-center">Research Work</h2>

            <div class="work-box">
                <div class="work-img">
                    <img src="{% static 'images/work.jpg' %}" class="img-responsive img-curve">
                </div>

                <div class="work-desc">
                    <h4>Speech Intelligibility Predicted from Neural Entrainment of the Speech Envelope</h4>
                    <p class="detail">
                        using the stimulus reconstruction method  
                    </p>
                    <br>

                    <a href="https://pubmed.ncbi.nlm.nih.gov/29464412/" class="btn btn-primary">read more</a>
                </div>
            </div>

            <div class="work-box">
                <div class="work-img">
                    <img src="{% static 'images/work.jpg' %}" class="img-responsive img-curve">
                </div>

                <div class="work-desc">
                    <h4>Multiple-target deep learning for LSTM-RNN based speech enhancement</h4>
                    <p class="detail">
                        calculating the correlation between the actual speech envelope
                    </p>
                    <br>

                    <a href="https://ieeexplore.ieee.org/document/7895577" class="btn btn-primary">read more</a>
                </div>
            </div>

            <div class="work-box">
                <div class="work-img">
                    <img src="{% static 'images/work.jpg' %}" class="img-responsive img-curve">
                </div>

                <div class="work-desc">
                    <h4>Deep Neural Network Model of Hearing-Impaired Speech-in-Noise Perception</h4>
                    <p class="detail">
                        to increase noise classification rate
                    </p>
                    <br>

                    <a href="https://www.frontiersin.org/articles/10.3389/fnins.2020.588448/full" class="btn btn-primary">read more</a>
                </div>
            </div>

            <div class="work-box">
                <div class="work-img">
                    <img src="{% static 'images/work.jpg' %}" class="img-responsive img-curve">
                </div>

                <div class="work-desc">
                    <h4>Behavioral Pattern Analysis between...Using Different Machine Learning Approaches </h4>
                    <p class="detail">
                        advanced hearing aid chips and speech signal processing
                    </p>
                    <br>

                    <a href="https://www.mdpi.com/2227-7080/9/3/51" class="btn btn-primary">read more</a>
                </div>
            </div>

           
            <div class="clearfix"></div>  

        </div>

    </section>
    <!-- related work Section Ends -->

    <!-- social Section Starts -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends-->

    <!-- footer Section Starts-->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Group 2</a></p>
        </div>
    </section>
    <!-- footer Section Ends-->

</body>
</html>